html {
  background-color: #F7F9FB;
  font-size: 67.5%;
  display: flex;
}
html body {
  font-family: 'Montserrat';
  font-size: 2rem;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #31708E;
  flex-direction: column;
}
html body .nav-box {
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width:800px) {
  html body .nav-box {
    flex-direction: column;
  }
}
html body .nav-box img {
  width: 300px;
}
html body .nav-box .nav_links {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
  width: 400px;
}
html body .nav-box .nav_links a {
  text-decoration: none;
  color: #31708E;
}
html body .nav-box .nav_links a:hover {
  color: #8FC1E3;
}
html body header h2 {
  font-size: 7rem;
  font-family: 'Pattaya';
}
html body .main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width:800px) {
  html body .main-content {
    flex-direction: column;
    flex-wrap: no-wrap;
  }
}
html body .main-content .content-box {
  display: flex;
  width: 25%;
  align-items: center;
}
@media (max-width:800px) {
  html body .main-content .content-box {
    flex-direction: column;
  }
}
html body .main-content .content-box .text-content {
  padding: 15px;
}
html body .main-content .content-box .text-content h2 {
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  font-family: 'Pattaya';
}
html body .main-content .content-box .text-content img {
  border-radius: 150px;
  border: 5px solid #687864;
  width: 275px;
}
html body .main-content .content-box .text-content a {
  text-decoration: none;
  color: #31708E;
}
html body .main-content .content-box .text-content a:hover {
  color: #8FC1E3;
}
html footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
  margin-top: 50px;
}
html footer img {
  width: 20px;
}
html footer a {
  text-decoration: none;
  color: #31708E;
}
